

<div class="container">
    <div class="emergency-banner">
      <!-- In case of emergencies, please dial your local emergency services number -->
    </div>
    <div class="min-h-screen bg-zinc-100 flex">
      <aside class="w-64 bg-white shadow-md">
        <div class="p-4 text-center">
          <div class="logo">
            <img [src]="avatarUrl" alt="CCPO Logo" />
          </div>
  
          <div *ngIf="stationDetails; else loadingTemplate">
            <h2 class="text-lg font-semibold">{{ stationDetails?.hq }}</h2>
          </div>
  
          <ng-template #loadingTemplate>
            <div id="loading">Loading Station Details...</div>
          </ng-template>
          <p class="text-sm text-zinc-600">Cebu City Police Office</p>
        </div>
        <nav class="mt-7">
          <ul class="list-none p-0">
            <li>
              <a [routerLink]="['/station-dashboard']" routerLinkActive="active" class="nav-link">
                <img
                  src="assets/dashbold.svg"
                  alt="Dashboard Icon"
                  class="w-6 h-6 mr-2"
                />
                <span>DASHBOARD</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/station-cases']" routerLinkActive="active" class="nav-link">
                <img
                  src="assets/cases.svg"
                  alt="Inbox Icon"
                  class="w-6 h-6 mr-2"
                />
                <span>CASES</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/station-case-queue']" routerLinkActive="active" class="nav-link">
                <img
                  src="assets/reports.svg"
                  alt="Reports Icon"
                  class="w-6 h-6 mr-2"
                />
                <span>REPORTS</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/map']" routerLinkActive="active" class="nav-link">
                <img
                  src="assets/crime-map.svg"
                  alt="Crime Map Icon"
                  class="w-6 h-6 mr-2"
                />
                <span>CRIME MAP</span>
              </a>
            </li>
            <!-- <li>
              <a [routerLink]="['/station-list-of-officers']" routerLinkActive="active" class="nav-link">
                <img
                  src="assets/station.svg"
                  alt="Station Icon"
                  class="w-6 h-6 mr-2"
                />
                <span>STATION</span>
              </a>
            </li> -->
            <li>
              <a [routerLink]="['/station-citizens']" routerLinkActive="active" class="nav-link">
                <i class="fa-solid fa-users" style="margin-right: 10px"></i>
                <span>CITIZENS</span>
              </a>
            </li>
      
          </ul>
          <!-- <div class="logout">
            <button type="submit" class="button" (click)="logout()">
              LOG OUT
            </button>
          </div> -->
        </nav>
      </aside>
  
      <main class="content">

        <div class="profile-menu-container">
          <div class="profile-icon" (click)="toggleProfileMenu()">
            <img *ngIf="policePersonData?.profile_picture; else defaultAvatar" 
                 [src]="policePersonData?.profile_picture" 
                 alt="Profile" 
                 class="profile-image" />
            <ng-template #defaultAvatar>
              <div class="default-avatar">
                <i class="fa-solid fa-user"></i>
              </div>
            </ng-template>
          </div>
          <!-- Dropdown menu for profile -->
          <div class="profile-dropdown" *ngIf="isProfileMenuOpen">
            <div class="dropdown-item" [routerLink]="['/station-editpolice']">
              <i class="fa-solid fa-user-pen"></i> Edit Profile
            </div>
            <div class="dropdown-item" (click)="logout()">
              <i class="fa-solid fa-sign-out-alt"></i> Logout
            </div>
          </div>
        </div>

        <div class="welcome flex justify-between items-center mb-4">
           
            <div class="text-left date-time">
              <p><strong>Date:</strong> {{ currentDate }}</p>
              <p><strong>Time:</strong> {{ currentTime }}</p>
            </div>
          </div>

          <section class="section-map">


            <mat-form-field>
              <mat-label>Incident Type</mat-label>
              <mat-select multiple [(ngModel)]="selectedIncidentTypes" (selectionChange)="handleOnIncident($event)">
                <mat-option [value]="selectAllValue" [selected]="isAllSelected()" (click)="toggleSelectAll()">
                  {{ selectAllLabel }}
                </mat-option>
                <mat-option *ngFor="let type of uniqueIncidentTypes" [value]="type">
                  <img [src]="'assets/icons/' + getCrimeIcon(type)" class="incident-icon"> {{ type }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
            <div class="incident-count" *ngIf="selectedIncidentTypes.length > 0">
              <div *ngFor="let type of selectedIncidentTypes">
                <span>{{ type }}: {{ crimeCounts[type] || 0 }}</span>
              </div>
            </div>
            
        
            <div *ngIf="selectedIncidentTypes.length === 0">
              <span>No incident types selected</span>
            </div>
  
            <div id="map-container" class="map"></div>
          </section>
    
          
      </main>
    </div>
  </div>
  