<div class="container">
    <div class="emergency-banner">
      <!-- In case of emergencies, please dial your local emergency services number -->
    </div>
    <div class="min-h-screen bg-zinc-100 flex">
      <aside class="w-64 bg-white shadow-md">
        <div class="p-4 text-center">
            <div class="logo">
                <img [src]="avatarUrl" alt="CCPO Logo" />
              </div>
          <h2 class="text-lg font-semibold">{{ stationDetails.hq }}</h2>
          <p class="text-sm text-zinc-600">Station Administrator</p>
        </div>
        <nav class="mt-7">
            <ul class="list-none p-0">
              <li>
                <a [routerLink]="['/station-admin-dashboard']" routerLinkActive="active" class="nav-link">
                  <img
                    src="assets/dashbold.svg"
                    alt="Dashboard Icon"
                    class="w-6 h-6 mr-2"
                  />
                  <span>DASHBOARD</span>
                </a>
              </li>

              <li>
                <a [routerLink]="['/station-admin-citizens']" routerLinkActive="active" class="nav-link">
                  <i class="fa-solid fa-users" style="margin-right: 10px"></i>
                  <span>SPAMMERS</span>
                </a>
              </li>
              
              <li>
                <a [routerLink]="['/station-admin-reports']" routerLinkActive="active" class="nav-link">
                  <img
                    src="assets/reports.svg"
                    alt="Reports Icon"
                    class="w-6 h-6 mr-2"
                  />
                  <span>SPAM REPORTS</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/station-admin-police']" routerLinkActive="active" class="nav-link">
                  <img
                    src="assets/station.svg"
                    alt="Station Icon"
                    class="w-6 h-6 mr-2"
                  />
                  <span>STATION</span>
                </a>
              </li>
             
              <li>
                  <a [routerLink]="['/station-admin-logs']" routerLinkActive="active" class="nav-link">
                      <img
                      src="assets/viewlog.png"
                      alt="Station Icon"
                      class="w-6 h-6 mr-2"
                    />
                    <span>VIEW LOGS</span>
                  </a>
                </li>
              <!-- <li>
                <a href="#" class="nav-link">
                  <img
                    src="assets/support.svg"
                    alt="Contact Support Icon"
                    class="w-6 h-6 mr-2"
                  />
                  <span>CONTACT SUPPORT</span>
                </a>
              </li> -->
            </ul>
            <div class="logout">
              <button type="submit" class="button" (click)="logout()">
                LOG OUT
              </button>
            </div>
          </nav>
      </aside>
  
      <div class="main-content">
        <div class="header">
          <div class="header-title">
            <h1>LIST OF SPAM REPORTS</h1>
          </div>
          <div class="header-info">
            <div class="current">
              <p><strong>Date:</strong> {{ currentDate }}</p>
              <p><strong>Time:</strong> {{ currentTime }}</p>
            </div>
            <div class="new-reports-container">
              <!-- <a href="/station-reports" class="new-reports-link">
                        CASE REPORTS
                        <span class="new-reports-badge"></span>
                    </a> -->
            </div>
          </div>
        </div>
        <main class="main-content">
          <header class="header"></header>
          <div class="search-container">
            <input
              type="text"
              [(ngModel)]="searchQuery"
              (ngModelChange)="filterReports()"
              placeholder="Search"
              class="search-input"
            />

          
  
            <!-- <div class="filterReports">
              <label>Filter Reports</label>
              <select [(ngModel)]="selectedRemark" (change)="filterReportsByRemark()">
                <option [value]="'all'">All</option>
                <option [value]="'forEndorse'">For Endorse</option>
                <option [value]="'markedAsSpam'">Marked as Spam</option>
              </select>
            </div>    -->
          </div>
          <section class="new-reports">
           
              <table class="reports-table">
                <thead>
                  <tr>
                    <th>Complainant</th>
                    <th>Report ID</th>
                    <th>Incident Name</th>
                    <th>Date Received</th>
                
                    <th colspan="2" style="text-align:center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- If there is a search query -->
                  <ng-container *ngIf="searchQuery || selectedRemark !== 'all'; else defaultReports">
                    <!-- Show filtered reports if results are found -->
                    <ng-container *ngIf="filteredReports.length > 0; else noResults">
                      <tr
                        *ngFor="
                          let report of filteredReports
                            | paginate
                              : {
                                  id: 'cases',
                                  itemsPerPage: pageSize,
                                  currentPage: currentPage,
                                  totalItems: totalReports
                                }
                        "
                        [id]="'report-' + report.report_id"
                        (click)="navigateToReportEndorse(report.report_id)"
                      >
                        <td>
                          <span
                            [class.highlight]="
                              isFieldMatched(getCitizenName(report.citizen_id), searchQuery)
                            "
                            [innerHTML]="highlight(getCitizenName(report.citizen_id))"
                          ></span>
                        </td>
                        <td>
                          <span
                            [class.highlight]="
                              isFieldMatched(report.report_id, searchQuery)
                            "
                            [innerHTML]="highlight(report.report_id)"
                          ></span>
                        </td>
                        <td>
                          <span
                            [class.highlight]="
                              isFieldMatched(report.subcategory_name, searchQuery)
                            "
                            [innerHTML]="highlight(report.subcategory_name)"
                          ></span>
                        </td>
                        <td>
                          <span
                            [class.highlight]="
                              isFieldMatched(report.reported_date, searchQuery)
                            "
                            [innerHTML]="highlight(report.reported_date | date)"
                          ></span>
                        </td>
                        <td
                        class="icon"
                        (click)="reinstateReport(report.report_id); $event.stopPropagation()"
                      >
                        <button class="confirm">Reinstate</button>
                      </td>
                      <td
                        class="icon"
                        (click)="deleteReport(report.report_id); $event.stopPropagation()"
                      >
                        <button class="cancel">Delete</button>
                      </td>
                        
                      </tr>
                    </ng-container>
                
                    <!-- No results found -->
                    <ng-template #noResults>
                      <tr>
                        <td colspan="6" class="no-results">
                          No results found for "{{ searchQuery }}"
                        </td>
                      </tr>
                    </ng-template>
                  </ng-container>
                
                  <!-- Default reports -->
                  <ng-template #defaultReports>
                    <tr
                      *ngFor="
                        let report of spamReports
                          | paginate
                            : {
                                id: 'cases',
                                itemsPerPage: pageSize,
                                currentPage: currentPage,
                                totalItems: totalReports
                              }
                      "
                      (click)="navigateToReportEndorse(report.report_id)"
                    >
                      <td *ngIf="citizens">
                        {{ getCitizenName(report.citizen_id) }}
                      </td>
                      <td>{{ report.report_id }}</td>
                      <td>{{ report.subcategory_name }}</td>
                      <td>{{ report.reported_date | date }}</td>
                      <!-- <div *ngIf="!report.is_spam; else spamReports">
                        <td style="text-decoration: none; color: #00c900">For Endorse</td>
                      </div>
                      <ng-template #spamReports>
                        <td style="color: red;">Marked as Spam</td>
                      </ng-template> -->
                      <td
                        class="icon"
                        (click)="reinstateReport(report.report_id); $event.stopPropagation()"
                      >
                        <button class="confirm">Reinstate</button>
                      </td>
                      <td
                        class="icon"
                        (click)="deleteReport(report.report_id); $event.stopPropagation()"
                      >
                        <button class="cancel">Delete</button>
                      </td>
                    </tr>
                  </ng-template>
                </tbody>
                
              </table>
              <pagination-controls id="cases" (pageChange)="currentPage = $event">
              </pagination-controls>
      
          </section>
        </main>
      </div>
    </div>
  </div>
  