
      <div class="container">
        <div class="emergency-banner">
          <!-- In case of emergencies, please dial your local emergency services number -->
        </div>
        <div class="min-h-screen bg-zinc-100 flex">
          <aside class="w-64 bg-white shadow-md">
            <div class="p-4 text-center">
              <div class="logo">
                <img src="assets/station10.png" alt="CCPO Logo" />
              </div>
      
              <!-- <div *ngIf="stationDetails; else loadingTemplate">
                <h2 class="text-lg font-semibold">{{ stationDetails.hq }}</h2>
              </div>
      
              <ng-template #loadingTemplate>
                <div id="loading">Loading Station Details...</div>
              </ng-template> -->
              <h2 class="text-lg font-semibold">{{ stationDetails.hq }}</h2>
              <p class="text-sm text-zinc-600">Cebu City Police Office</p>
            </div>
            <nav class="mt-7">
              <ul class="list-none p-0">
                <li>
                  <a
                    [routerLink]="['/station-dashboard']"
                    routerLinkActive="active"
                    class="nav-link"
                  >
                    <img
                      src="assets/dashbold.svg"
                      alt="Dashboard Icon"
                      class="w-6 h-6 mr-2"
                    />
                    <span>DASHBOARD</span>
                  </a>
                </li>
                <li>
                  <a
                    [routerLink]="['/station-cases']"
                    routerLinkActive="active"
                    class="nav-link"
                    [ngClass]="{ active: isReportsActive() }"
                  >
                    <img
                      src="assets/cases.svg"
                      alt="Inbox Icon"
                      class="w-6 h-6 mr-2"
                    />
                    <span>CASES</span>
                  </a>
                </li>
                <li>
                  <a
                    [routerLink]="['/station-cases']"
                  
                    class="nav-link"
                  >
                    <img
                      src="assets/reports.svg"
                      alt="Reports Icon"
                      class="w-6 h-6 mr-2"
                    />
                    <span>REPORTS</span>
                  </a>
                </li>
                <li>
                  <a
                    [routerLink]="['/station-crime-map']"
                    routerLinkActive="active"
                    class="nav-link"
                  >
                    <img
                      src="assets/crime-map.svg"
                      alt="Crime Map Icon"
                      class="w-6 h-6 mr-2"
                    />
                    <span>CRIME MAP</span>
                  </a>
                </li>
                <li>
                  <a
                    [routerLink]="['/station-list-of-officers']"
                    routerLinkActive="active"
                    class="nav-link"
                  >
                    <img
                      src="assets/station.svg"
                      alt="Station Icon"
                      class="w-6 h-6 mr-2"
                    />
                    <span>STATION</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="nav-link">
                    <img
                      src="assets/support.svg"
                      alt="Contact Support Icon"
                      class="w-6 h-6 mr-2"
                    />
                    <span>CONTACT SUPPORT</span>
                  </a>
                </li>
              </ul>
              <div class="logout">
                <button type="submit" class="button" (click)="logout()">
                  LOG OUT
                </button>
              </div>
            </nav>
          </aside>
      
          <main class="content">
              
              <div class="container">
                <main class="main-content">
                  <h2 style="padding-bottom: 30px">
                    <span>{{ incidentName.name }}</span>
                  </h2>
                  <section class="report-details">
                    <div class="report-header">
                      <div class="report-left">
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                        </div>
                      </div>
                      <tr>
                        <td>
                          <button
                            type="button"
                            class="endorse-btn"
                           
                          >
                            Mark as Solved
                          </button>
                        </td>
                      </tr>
                    </div>
                    <div class="table-container">
                      <table>
                  <thead>
                    <tr>
                      <th colspan="2" class="category-label">CASE DATA</th>
                    </tr>
                  </thead>
                  <tr>
                    <td style="padding-bottom: 2rem"><h3>Title</h3></td>
                    <td style="text-align: end; padding-bottom: 2rem">
                      <span>{{ crimeData.title }}</span>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding-bottom: 2rem"><h3>Crime ID</h3></td>
                    <td style="text-align: end; padding-bottom: 2rem">
                      <span>{{ crimeData.crime_id }}</span>
                    </td>
                  </tr>
                  <tr>
                  <tr>
                    <td style="padding-bottom: 2rem"><h3>Incident Date</h3></td>
                    <td style="text-align: end; padding-bottom: 2rem">
                      <span>{{ crimeData.datetime_committed ? (crimeData.datetime_committed | date) : (crimeData.date_committed ? (crimeData.date_committed | date) : 'N/A') }}</span>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding-bottom: 2rem"><h3>Offense Type</h3></td>
                    <td style="text-align: end; padding-bottom: 2rem">
                      <span>{{ crimeData.offense_type }}</span>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding-bottom: 2rem"><h3>Cite Number</h3></td>
                    <td style="text-align: end; padding-bottom: 2rem">
                      <span>{{ crimeData.cite_number }}</span>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding-bottom: 2rem"><h3>Reported Date</h3></td>
                    <td style="text-align: end; padding-bottom: 2rem">
                      <span>{{ crimeData.datetime_reported | date }}</span>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding-bottom: 2rem"><h3>Incident Location</h3></td>
                    <td style="text-align: end; padding-bottom: 2rem">
                      <span style="display: inline-block;
                      max-width: 500px;      
                      word-wrap: break-word;  
                      overflow: hidden;
                      text-align: justify
                      ">{{ locationData.block }} {{ locationData.street }} {{ locationData.barangay }} {{ locationData.municipality }} {{ locationData.province }} {{ locationData.region }}</span>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding-bottom: 2rem"><h3>Created By:</h3></td>
                    <td style="text-align: end; padding-bottom: 2rem">
                      <span>{{ crimeData.created_by }}</span>
                    </td>
                  </tr>
                  <tr>
                       
                        <tr>
                          <td style="padding-bottom: 2rem"><h3>Submited ID</h3></td>
                          <td style="text-align: end; padding-bottom: 2rem">
                            <a
                              style="color: blue; text-decoration: underline"
                              (click)="viewID(citizenData.citizen_proof)"
                              >View Complainant ID</a
                            >
                          </td>
                        </tr>
      
                        <thead>
                            <tr>
                              <th colspan="2" class="category-label">ASSIGNED TO</th>
                            </tr>
                          </thead>
                          <tbody *ngIf="polices && polices.length > 0; else noDataTemplate">
                            <ng-container *ngFor="let police of polices">
                              <tr>
                                <td style="padding-bottom: 2rem"><h3>Police ID</h3></td>
                                <td style="text-align: end; padding-bottom: 2rem">
                                  <span>{{ police.police_id }}</span>
                                </td>
                              </tr>
                              <tr>
                                <td style="padding-bottom: 2rem"><h3>Police Name</h3></td>
                                <td style="text-align: end; padding-bottom: 2rem">
                                  <span>{{ police.firstname }} {{ police.lastname }}</span>
                                </td>
                              </tr>
                            </ng-container>
                          </tbody>
                          
                          <ng-template #noDataTemplate>
                            <tr>
                              <td colspan="2" style="text-align: center; padding: 1rem;">No officers assigned.</td>
                            </tr>
                          </ng-template>
                            
                  
                          
      
                        <thead>
                          <tr>
                            <th colspan="2" class="category-label">SUSPECT DATA</th>
                          </tr>
                        </thead>
                        <tr >
                          <td style="padding-bottom: 2rem"><h3>Suspect ID</h3></td>
                          <td style="text-align: end; padding-bottom: 2rem">
                            <span>{{ suspects?.suspect_id }}</span>
                          </td>
                        </tr>
                        <tr >
                          <td style="padding-bottom: 2rem"><h3>Suspect Name</h3></td>
                          <td style="text-align: end; padding-bottom: 2rem">
                            <span>{{ suspects.first_name }} {{ suspects.last_name }}</span>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding-bottom: 2rem"><h3>Civil Status</h3></td>
                          <td style="text-align: end; padding-bottom: 2rem">
                            <span>{{ suspects.civil_status }}</span>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding-bottom: 2rem"><h3>Gender</h3></td>
                          <td style="text-align: end; padding-bottom: 2rem">
                            <span>{{ getGenderName(suspects.sex) }}</span>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding-bottom: 2rem"><h3>Arrested</h3></td>
                          <td style="text-align: end; padding-bottom: 2rem">
                            <span>{{ isCaught }}</span>
                          </td>
                        </tr>
      
      
                        <thead>
                          <tr>
                            <th colspan="2" class="category-label">VICTIM DATA</th>
                          </tr>
                        </thead>
                        <tr >
                          <td style="padding-bottom: 2rem"><h3>Victim ID</h3></td>
                          <td style="text-align: end; padding-bottom: 2rem">
                            <span *ngIf="victims">{{ victims.victim_id }}</span>
                          </td>
                        </tr>
                        <tr >
                          <td style="padding-bottom: 2rem"><h3>Victim Name</h3></td>
                          <td style="text-align: end; padding-bottom: 2rem">
                            <span>{{ victims.firstname }} {{ victims.lastname }}</span>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding-bottom: 2rem"><h3>Civil Status</h3></td>
                          <td style="text-align: end; padding-bottom: 2rem">
                            <span>{{ victims.civil_status }}</span>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding-bottom: 2rem"><h3>Gender</h3></td>
                          <td style="text-align: end; padding-bottom: 2rem">
                            <span>{{ getGenderName(victims.sex) }}</span>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding-bottom: 2rem"><h3>Deceased</h3></td>
                          <td style="text-align: end; padding-bottom: 2rem">
                            <span>{{ isCaught }}</span>
                          </td>
                        </tr>


                       
                        <thead>
                          <tr>
                            <th colspan="2" class="category-label">EVIDENCE</th>
                          </tr>
                        </thead>
                        <tr>
                          <td style="padding-bottom: 2rem"><h3>Evidences:</h3></td>
                        </tr>
      
                        <div *ngIf="isLoading">Loading evidences...</div>
                        <div *ngIf="errorMessage">{{ errorMessage }}</div>
                        <div
                          *ngIf="!isLoading && evidences.length > 0"
                          class="evidence-container"
                        >
                          <div
                            *ngFor="let evidence of evidences"
                            class="evidence-item"
                            (click)="openModal(evidence)"
                          >
                            <div *ngIf="evidence.content_type.startsWith('image/')">
                              <img
                                [src]="
                                  'data:' +
                                  evidence.content_type +
                                  ';base64,' +
                                  cleanBase64(evidence.file_contents)
                                "
                                alt="Evidence Image"
                              />
                            </div>
      
                            <div *ngIf="evidence.content_type === 'application/pdf'">
                              <embed
                                [src]="
                                  'data:' +
                                  evidence.content_type +
                                  ';base64,' +
                                  evidence.file_contents
                                "
                                width="100%"
                                height="600px"
                                type="application/pdf"
                              />
                            </div>
                            <div *ngIf="evidence.content_type === 'text/plain'">
                              <pre>{{ decodeBase64(evidence.file_contents) }}</pre>
                            </div>
                            <div
                              *ngIf="
                                evidence.content_type === 'application/msword' ||
                                evidence.content_type ===
                                  'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
                              "
                            >
                              <span
                                >Document (.docx) cannot be viewed directly in
                                browser.</span
                              >
                            </div>
                            <div
                              *ngIf="
                                evidence.content_type ===
                                  'application/vnd.ms-excel' ||
                                evidence.content_type ===
                                  'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
                              "
                            >
                              <span
                                >Spreadsheet (.xlsx) cannot be viewed directly in
                                browser.</span
                              >
                            </div>
      
                            <!-- Handling Audio files -->
                            <div *ngIf="evidence.content_type.startsWith('audio/')">
                              <audio controls>
                                <source
                                  [src]="
                                    'data:' +
                                    evidence.content_type +
                                    ';base64,' +
                                    evidence.file_contents
                                  "
                                  type="{{ evidence.content_type }}"
                                />
                                Your browser does not support the audio element.
                              </audio>
                            </div>
      
                            <!-- Handling Video files -->
                            <div *ngIf="evidence.content_type.startsWith('video/')">
                              <video width="100%" controls>
                                <source
                                  [src]="
                                    'data:' +
                                    evidence.content_type +
                                    ';base64,' +
                                    evidence.file_contents
                                  "
                                  type="{{ evidence.content_type }}"
                                />
                                Your browser does not support the video element.
                              </video>
                            </div>
                            <div
                              *ngIf="
                                !evidence.content_type.startsWith('image/') &&
                                !evidence.content_type.startsWith('audio/') &&
                                !evidence.content_type.startsWith('video/')
                              "
                            >
                              <strong>File:</strong>
                              <span>{{ evidence.content_type }}</span>
                              <a
                                [href]="
                                  'data:' +
                                  evidence.content_type +
                                  ';base64,' +
                                  evidence.file_contents
                                "
                                download
                              >
                                Download File
                              </a>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="!isLoading && evidences.length === 0">
                          No evidences found.
                        </div>
      
                        <div
                          *ngIf="isModalOpen"
                          class="modal-overlay"
                          (click)="closeModal()"
                        >
                          <div
                            class="modal-content"
                            (click)="$event.stopPropagation()"
                          >
                            <button class="modal-close" (click)="closeModal()">
                              X
                            </button>
                            <div *ngIf="selectedEvidence">
                              <div
                                *ngIf="
                                  selectedEvidence.content_type.startsWith('image/')
                                "
                              >
                                <img
                                  [src]="
                                    'data:' +
                                    selectedEvidence.content_type +
                                    ';base64,' +
                                    cleanBase64(selectedEvidence.file_contents)
                                  "
                                  alt="Evidence Image"
                                />
                              </div>
                              <div
                                *ngIf="
                                  selectedEvidence.content_type === 'application/pdf'
                                "
                              >
                                <embed
                                  [src]="
                                    'data:' +
                                    selectedEvidence.content_type +
                                    ';base64,' +
                                    selectedEvidence.file_contents
                                  "
                                  width="100%"
                                  height="600px"
                                  type="application/pdf"
                                />
                              </div>
                              <div
                                *ngIf="
                                  selectedEvidence.content_type.startsWith('audio/')
                                "
                              >
                                <audio controls>
                                  <source
                                    [src]="
                                      'data:' +
                                      selectedEvidence.content_type +
                                      ';base64,' +
                                      selectedEvidence.file_contents
                                    "
                                    type="{{ selectedEvidence.content_type }}"
                                  />
                                </audio>
                              </div>
                              <div
                                *ngIf="
                                  selectedEvidence.content_type.startsWith('video/')
                                "
                              >
                                <video width="100%" controls>
                                  <source
                                    [src]="
                                      'data:' +
                                      selectedEvidence.content_type +
                                      ';base64,' +
                                      selectedEvidence.file_contents
                                    "
                                    type="{{ selectedEvidence.content_type }}"
                                  />
                                </video>
                              </div>
                            </div>
                          </div>
                        </div>


                        <thead>
                            <tr>
                              <th colspan="2" class="category-label">OTHERS</th>
                            </tr>
                          </thead>
                        <label style="padding-top: 20rem;">Remarks: {{crimeData.description}}</label>
              
      
                        <div *ngIf="isSignatureVisible" class="modal">
                          <div class="modal-content">
                            <span class="close" (click)="closeSignature()"
                              >&times;</span
                            >
                            <img [src]="currentSignature" alt="E-Signature" />
                          </div>
                        </div>
      
                        <div *ngIf="isIDvisible" class="modal">
                          <div class="modal-content">
                            <span class="close" (click)="closeID()"
                              >&times;</span
                            >
                            <img [src]="currentID" alt="ID" />
                          </div>
                          </div>
      
                          <tr>
                            <td style="padding-bottom: 0.5rem; padding-top:10rem;"><h3>Signed By</h3></td>
                            <tr>
                              <td style="text-align: left; padding-bottom: 0.5rem">
                                <div *ngIf="selectedReport.e_signature.startsWith('data:image/')">
                                  <img
                                    [src]="selectedReport.e_signature"
                                    alt="E-Signature"
                                    style="max-width: 200px; max-height: 100px;"
                                  />
                                  
                                </div>
                                <div *ngIf="!selectedReport.e_signature.startsWith('data:image/')">
                                  <span>No signature available</span>
                                </div>
                              </td>
                              
                            </tr>
                            <div *ngIf="citizenData" class="sign-name">
                              <span>{{ citizenData.firstname }}, {{ citizenData.lastname }}</span>
                            </div>                          
                      </table>
                    </div>
      
                    <div class="submit-blotter">
                      <button
                        type="button"
                        class="send-blotter-btn"
                        (click)="plotLongAndLat(crimeData.location_id)"
                      >
                        PLOT LONGITUDE AND LATITUDE
                      </button>
                    </div>
                  </section>
                </main>
              </div>
          </main>
        </div>
      </div>
      