<div class="container">
  <div class="emergency-banner">
    <!-- In case of emergencies, please dial your local emergency services number -->
  </div>
  <div class="min-h-screen bg-zinc-100 flex">
    <aside class="w-64 bg-white shadow-md">
      <div class="p-4 text-center">
        <div class="logo">
          <img src="assets/station10.png" alt="CCPO Logo" />
        </div>

        <!-- <div *ngIf="stationDetails; else loadingTemplate">
                <h2 class="text-lg font-semibold">{{ stationDetails.hq }}</h2>
              </div>
      
              <ng-template #loadingTemplate>
                <div id="loading">Loading Station Details...</div>
              </ng-template> -->
        <h2 class="text-lg font-semibold">{{ stationDetails.hq }}</h2>
        <p class="text-sm text-zinc-600">Cebu City Police Office</p>
      </div>
      <nav class="mt-7">
        <ul class="list-none p-0">
          <li>
            <a
              [routerLink]="['/station-dashboard']"
              routerLinkActive="active"
              class="nav-link"
            >
              <img
                src="assets/dashbold.svg"
                alt="Dashboard Icon"
                class="w-6 h-6 mr-2"
              />
              <span>DASHBOARD</span>
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/station-cases']"
              class="nav-link"
              [ngClass]="{ active: isActive }"
            >
              <img
                src="assets/cases.svg"
                alt="Inbox Icon"
                class="w-6 h-6 mr-2"
              />
              <span>CASES</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/station-case-queue']" class="nav-link">
              <img
                src="assets/reports.svg"
                alt="Reports Icon"
                class="w-6 h-6 mr-2"
              />
              <span>REPORTS</span>
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/station-crime-map']"
              routerLinkActive="active"
              class="nav-link"
            >
              <img
                src="assets/crime-map.svg"
                alt="Crime Map Icon"
                class="w-6 h-6 mr-2"
              />
              <span>CRIME MAP</span>
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/station-list-of-officers']"
              routerLinkActive="active"
              class="nav-link"
            >
              <img
                src="assets/station.svg"
                alt="Station Icon"
                class="w-6 h-6 mr-2"
              />
              <span>STATION</span>
            </a>
          </li>
          <!-- <li>
                  <a href="#" class="nav-link">
                    <img
                      src="assets/support.svg"
                      alt="Contact Support Icon"
                      class="w-6 h-6 mr-2"
                    />
                    <span>CONTACT SUPPORT</span>
                  </a>
                </li> -->
        </ul>
        <div class="logout">
          <button type="submit" class="button" (click)="logout()">
            LOG OUT
          </button>
        </div>
      </nav>
    </aside>

    <main class="content">
      <div class="container">
        <main class="main-content">
          <h2 style="padding-bottom: 30px">
            <span *ngIf="incidentName">{{ incidentName.name }}</span>
          </h2>
          <section class="report-details">
            <div class="report-header">
              <!-- <div class="report-left">
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                        </div>
                      </div> -->
              <div class="submit-blotter">
                <button
                  type="button"
                  class="plot-btn"
                  (click)="plotLongAndLat(crimeData.location_id)"
                >
                  PLOT LONGITUDE AND LATITUDE
                </button>
              </div>
              <div class="solved-button">
                <tr>
                  <td *ngIf="crimeData">
                    <button
                      type="button"
                      class="endorse-btn"
                      (click)="markSolved(crimeData.crime_id)"
                      *ngIf="crimeData.status.trim() !== 'Solved'"
                    >
                      Mark as Solved
                    </button>

                    <!-- Display "SOLVED" text if the status is SOLVED -->
                    <span
                      *ngIf="crimeData.status.trim() === 'Solved'"
                      class="status-solved"
                    >
                      SOLVED
                    </span>
                  </td>
                </tr>
              </div>
            </div>
            <div class="table-container">
              <table>
                <tr>
                  <td colspan="4">
                    <span style="padding-right: 95px; font-weight: bold"
                      >Crime ID:</span
                    >
                    <span *ngIf="crimeData"> {{ crimeData.crime_id }}</span>
                  </td>
                </tr>
                <tr>
                  <td colspan="4">
                    <span
                      *ngIf="crimeData"
                      style="padding-right: 60px; font-weight: bold"
                      >Offense Type:
                    </span>
                    <span *ngIf="crimeData"> {{ crimeData.offense_type }}</span>
                  </td>
                </tr>

                <tr>
                  <td colspan="4">
                    <span style="padding-right: 35px; font-weight: bold"
                      >Incident Location
                    </span>
                    <span *ngIf="locationData">
                      {{ locationData.block }} {{ locationData.street }}
                      {{ locationData.barangay }}
                      {{ locationData.municipality }}
                      {{ locationData.province }}
                      {{ locationData.region }}</span
                    >
                  </td>
                </tr>

                <tr>
                  <td colspan="4">
                    <span style="padding-right: 65px; font-weight: bold"
                      >Incident Date
                    </span>
                    <span *ngIf="crimeData">
                      {{
                        crimeData.datetime_committed
                          ? (crimeData.datetime_committed | date)
                          : crimeData.date_committed
                          ? (crimeData.date_committed | date)
                          : "N/A"
                      }}</span
                    >
                  </td>
                </tr>

                <tr>
                  <td>Assigned To:</td>
                </tr>

                <tr (click)="openModal()">
                  <div class="add-sus">
                    <td>
                      <span><img src="assets/edit-icon.svg" /></span>
                      <span>Edit Suspect/s</span>
                    </td>
                  </div>
                </tr>

                <!-- Modal -->
                <div *ngIf="isModalOpen" class="modal">
                  <div class="modal-content">
                    <button class="modal-close" (click)="closeModal()">
                      X
                    </button>

                    <!-- <div class="search-sus" >
                        <input type="text" placeholder="Search Suspect">
                      </div>
                  -->

                    <div class="found-sus">
                      <label><h4>Suspect/s Found</h4></label>
                      <ul>
                        <li *ngFor="let suspect of suspects; let i = index">
                          <button
                            [class.active]="activeSuspectIndex === i"
                            (click)="setActiveSuspect(i)"
                          >
                            Suspect {{ i + 1 }}
                          </button>
                        </li>
                        <button (click)="addSuspect()">+ Add Suspect</button>
                      </ul>
                    </div>
                    <div class="save-sus">
                      <button (click)="saveSuspect()">Save</button>
                    </div>

                    <section class="main-content">
                      <div *ngFor="let suspect of suspects; let i = index">
                        <div *ngIf="activeSuspectIndex === i">
                          <label>
                            <h2
                              style="
                                margin-left: 10px;
                                text-align: center;
                                padding-bottom: 30px;
                              "
                            >
                              Suspect {{ i + 1 }}
                            </h2>
                          </label>

                          <table class="table-sus" style="text-align: center">
                            
                              <tr>
                                <td colspan="2" class="edit">
                                  <span (click)="editSuspect(i)">Edit</span>
                                  <span *ngIf="suspect.isNew"> (New Suspect)</span>
                                  <span *ngIf="suspect.isModified"> (Modified)</span>
                                </td>
                              </tr>
                          
                            
                            <tr>
                              <td>
                                <span
                                  style="margin-left: 10px; font-weight: bold"
                                  >First Name</span
                                >
                              </td>
                              <td class="input-sus">
                                <input
                                  type="text"
                                  [(ngModel)]="suspect.first_name"
                                  [disabled]="!isEditing"
                                />
                              </td>
                            </tr>

                            <tr>
                              <td>
                                <span
                                  style="margin-left: 10px; font-weight: bold"
                                  >Middle Name</span
                                >
                              </td>
                              <td class="input-sus">
                                <input
                                  type="text"
                                  [(ngModel)]="suspect.middle_name"
                                  [disabled]="!isEditing"
                                />
                              </td>
                            </tr>

                            <tr>
                              <td>
                                <span
                                  style="margin-left: 10px; font-weight: bold"
                                  >Last Name</span
                                >
                              </td>
                              <td class="input-sus">
                                <input
                                  type="text"
                                  [(ngModel)]="suspect.last_name"
                                  [disabled]="!isEditing"
                                />
                              </td>
                            </tr>

                            <tr>
                              <td>
                                <span
                                  style="margin-left: 10px; font-weight: bold"
                                  >Gender</span
                                >
                              </td>
                              <td class="input-sus">
                                <select
                                  [(ngModel)]="suspect.sex"
                                  [disabled]="!isEditing"
                                >
                                  <option value="M">Male</option>
                                  <option value="F">Female</option>
                                  <option value="X">Prefer not to say</option>
                                  <option value="">No gender selected</option>
                                </select>
                              </td>
                              
                            </tr>

                            <tr>
                              <td>
                                <span
                                  style="margin-left: 10px; font-weight: bold"
                                  >Date of Birth</span
                                >
                              </td>
                              <td class="input-sus">
                                <input
                                  type="date"
                                  id="dateOfBirth"
                                  [(ngModel)]="suspect.birth_date"
                                  [disabled]="!isEditing"
                                  (dateChange)="onBirthDateChange($event)"
                                />
                              </td>
                            </tr>

                            <tr>
                              <td>
                                <span
                                  style="margin-left: 10px; font-weight: bold"
                                  >Civil Status</span
                                >
                              </td>
                              <td class="input-sus">
                                <input
                                  type="text"
                                  [(ngModel)]="suspect.civil_status"
                                  [disabled]="!isEditing"
                                />
                              </td>
                            </tr>

                            <tr>
                              <td>
                                <span
                                  style="margin-left: 10px; font-weight: bold"
                                  >Motive</span
                                >
                              </td>
                            
                                <td class="input-sus">
                                  <select [(ngModel)]="selectedmodus" name="modus" (change)="onModusChange($event)">
                                    <option *ngFor="let method of modus" [ngValue]="method">
                                      {{ method.method_name }}
                                    </option>
                                  </select>
                                </td>
          
                            </tr>

                            <!-- <tr>
                              <td>
                                <span
                                  style="margin-left: 10px; font-weight: bold"
                                  >Date of Death (if applicable)</span
                                >
                              </td>
                              <td class="input-sus"><input type="text" /></td>
                            </tr> -->

                            <tr>
                              <td>
                                <span
                                  style="margin-left: 10px; font-weight: bold"
                                  >Gang Affiliation</span
                                >
                              </td>
                              <td class="input-sus"><input type="text" [(ngModel)]="suspectModel.gang"/></td>
                            </tr>

                            <tr>
                              <td>
                                <span
                                  style="margin-left: 10px; font-weight: bold"
                                  >Reward</span
                                >
                              </td>
                              <td class="input-sus"><input type="text" [(ngModel)]="suspectModel.reward"/></td>
                            </tr>

                            <tr>
                              <td>
                                <span
                                  style="margin-left: 10px; font-weight: bold"
                                  >Arrested</span
                                >
                              </td>
                              <td class="input-sus">
                                <select [(ngModel)]="isCaught">
                                  <option [ngValue]="true">Yes</option>
                                  <option [ngValue]="false">No</option>
                                </select>
                              </td>
                              
                            </tr>

                            <tr>
                              <td>
                                <span
                                  style="margin-left: 10px; font-weight: bold"
                                  >Date Arrested</span
                                >
                              </td>
                              <td class="input-sus">
                                <input 
                                type="date" [(ngModel)]="dateCaught"/></td>
                            </tr>

                            <tr>
                              <td>
                                <span
                                  style="margin-left: 10px; font-weight: bold"
                                  >Mugshots:
                                </span>
                              </td>

                              <div id="uploadfile" class="uploadfile">
                                <input
                                  type="file"
                                  class="file"
                                  id="actual-btn"
                                  (change)="onFilesSelected($event, i)"
                                  accept="image/*"
                                  multiple
                                  hidden
                                />
                                <div class="icon-label">
                                  <img
                                    src="assets/upload.svg"
                                    class="upload-icon"
                                  />
                                  <label for="actual-btn">Upload file/s</label>
                                </div>
                              </div>
                            </tr>

                            <tr>
                              <td colspan="2">
                                <div
                                  *ngIf="uploadedFiles[i]?.length > 0"
                                  class="img-container"
                                >
                                  <div
                                    *ngFor="let file of uploadedFiles[i]"
                                    class="img-wrapper"
                                  >
                                    <img
                                      [src]="file.preview"
                                      alt="Mugshot Preview"
                                      class="img-prev"
                                    />
                                  </div>
                                </div>
                              </td>
                            </tr>
                            
                          </table>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </table>
              <table class="reports">
                <tr>
                  <th colspan="6" class="category-label">LIST OF REPORTS</th>
                </tr>

                <tr class="report-category">
                  <td>Report Id</td>
                  <td>Complainant</td>
                  <td>Reported Date</td>
                  <td>Incident Name</td>
                  <td>Incident Date</td>
                  <td style="text-align: center">Action</td>
                </tr>

                <tr *ngFor="let item of complainants">
                  <td>
                    {{ item.report.report_id }}
                  </td>
                  <td>
                    {{ item.complainant?.firstname }}
                    {{ item.complainant?.middlename }}
                    {{ item.complainant?.lastname }}
                  </td>
                  <td>
                    {{ item.report.reported_date | date }}
                  </td>
                  <td>
                    {{ item.report.subcategory_name }}
                  </td>
                  <td>
                    {{ item.report.incident_date | date }}
                  </td>

                  <td style="text-align: center">
                    <button
                      type="button"
                      class="send-blotter-btn"
                      (click)="
                        onSendBlotter(
                          item.report.report_id,
                          item.report.crime_id
                        )
                      "
                    >
                      Send Ticket Blotter
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </section>
        </main>
      </div>
    </main>
  </div>
</div>
