<div class="container">
    <div class="emergency-banner">
        In case of emergencies, please dial your local emergency services number
    </div>
    <div class="flex h-screen">
        <aside class="bg-zinc-100 sidebar p-4 flex flex-col items-center">
            <button type="button" class="back-button mt-6" style="align-self: flex-start" (click)="goBack()">
                BACK
            </button>
            <div class="p-4 text-center">
                <img src="assets/general.png" alt="Profile Picture" class="rounded-full mb-4"
                    style="width: 180px; height: 180px" />
               
        <div *ngIf="adminDetails; else loadingTemplate">
            <h2 class="text-lg font-semibold">{{ adminDetails?.rank_abbr }} {{ adminDetails?.first_name }}
              {{ adminDetails?.last_name }} </h2>
          </div>
    
          <ng-template #loadingTemplate>
            <div id="loading">Loading Police Details...</div>
          </ng-template>
          <p class="text-sm text-zinc-600">Admin</p>
            </div>
            <nav class="mt-4">
                <ul class="list-none p-0">
                    <li>
                        <a routerLink="/dashboard" class="nav-link">
                            <img src="assets/dashbold.svg" alt="Dashboard Icon" class="w-6 h-6 mr-2" />
                            <span>DASHBOARD</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="/police-reports" class="nav-link">
                          <img src="assets/cases.svg" alt="Dashboard Icon" class="w-6 h-6 mr-2">
                          <span>REPORTS</span>
                        </a>
                      </li>
                      <li>
                        <a href="/evidences" class="nav-link">
                          <img src="assets/ticket request.svg" alt="Reports Icon" class="w-6 h-6 mr-2">
                          <span>EVIDENCES</span>
                        </a>
                      </li> -->
                    <li>
                        <a href="/police-cases" class="nav-link">
                          <img src="assets/cases.svg" alt="Dashboard Icon" class="w-6 h-6 mr-2">
                          <span>CASES</span>
                        </a>
                      </li>
                    <li>
                        <a routerLink="/manage-users" class="nav-link">
                            <img src="assets/manage user.svg" alt="Manage User Icon" class="w-6 h-6 mr-2" />
                            <span>MANAGE USERS</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/spammer-users" class="nav-link">
                            <img src="assets/manage user.svg" alt="Manage User Icon" class="w-6 h-6 mr-2" />
                            <span>SPAMMED USERS</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/manage-station" class="nav-link">
                            <img src="assets/manage station.svg" alt="Manage Station Icon" class="w-6 h-6 mr-2" />
                            <span>MANAGE STATION</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/police-crime-map" class="nav-link">
                            <img src="assets/crime-map.svg" alt="Crime Map Icon" class="w-6 h-6 mr-2" />
                            <span>CRIME MAP</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <button type="button" class="logout-button mt-auto" (click)="logout()">
                LOG OUT
            </button>
        </aside>

        <main class="main-content">
            <header class="header">
                <button class="add-station" routerLink="/station-register">
                    Add Station
                </button>
                <button class="add-station" routerLink="/police-register">
                    Add Officer
                </button>
                <div class="search-filter">
                    <!-- <input type="text" placeholder="Search station" class="search-bar" (input)="onSearch($event)" /> -->
                    <input
                    type="text" [(ngModel)]="searchQuery" (ngModelChange)="filterStation()"
                      placeholder="Search"
                      class="search-input"
                    />
        
                    <div class="display-options">
                        <label for="display-count">Display</label>
                        <select id="display-count">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                        </select>
                    </div>
                </div>
            </header>

            <div class="table-container">
                <form [formGroup]="managestationForm" (ngSubmit)="onSubmit()">
                    <table class="station-table">
                        <thead>
                            <tr>
                                <th>Station ID</th>
                                <th>Station Name</th>
                                <th>Barangay</th>
                                <th>Officer In-Charge</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let station of stations; let i = index">
                                <td>{{ station.station_id }}</td>
                                <td>{{ station.hq }}</td>
                                <td>{{ station.barangay }}</td>
                                <td>{{ station.officer_in_charge_id }}</td>
                                <td>
                                    <button type="button" class="edit-btn" (click)="editStation(station)">
                                        ✏️
                                    </button>
                                    <button type="button" class="delete-btn"
                                        (click)="deleteStation(station.station_id)">
                                        🗑️
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>

            <footer class="pagination">
                <p>1/80</p>
                <div class="pagination-buttons">
                    <button>&laquo;</button>
                    <button>&raquo;</button>
                </div>
            </footer>
        </main>
    </div>
</div>