<div class="container">
    <div class="emergency-banner">
      In case of emergencies, please dial your local emergency services number
    </div>
    <div class="flex h-screen">

      <aside class="bg-zinc-100 sidebar p-4 flex flex-col items-center">
        <button type="button" class="back-button mt-6" style="align-self: flex-start;" (click)="goBack()">BACK</button>
        <div class="p-4 text-center">
          <img src="assets/general.png" alt="Profile Picture" class="rounded-full mb-4" style="width: 180px; height: 180px;">

          <div *ngIf="adminDetails; else loadingTemplate">
            <h2 class="text-lg font-semibold">{{ adminDetails?.rank_abbr }} {{ adminDetails?.first_name }}
              {{ adminDetails?.last_name }} </h2>
          </div>
    
          <ng-template #loadingTemplate>
            <div id="loading">Loading Police Details...</div>
          </ng-template>
          <p class="text-sm text-zinc-600">Admin</p>
        </div>
        <nav class="mt-4">
          <ul class="list-none p-0">
            <li>
              <a routerLink="/dashboard" class="nav-link">
                  <img src="assets/dashbold.svg" alt="Dashboard Icon" class="w-6 h-6 mr-2">
                  <span>DASHBOARD</span>
              </a>
          </li>
          <li>
            <a href="/police-reports" class="nav-link">
              <img src="assets/cases.svg" alt="Dashboard Icon" class="w-6 h-6 mr-2">
              <span>REPORTS</span>
            </a>
          </li>
          <li>
              <a href="/police-cases" class="nav-link">
                <img src="assets/cases.svg" alt="Dashboard Icon" class="w-6 h-6 mr-2">
                <span>CASES</span>
              </a>
            </li>
          <li>
              <a routerLink="/manage-users" class="nav-link">
                  <img src="assets/manage user.svg" alt="Manage User Icon" class="w-6 h-6 mr-2">
                  <span>MANAGE USER</span>
              </a>
          </li>
          <li>
            <a routerLink="/spammer-users" class="nav-link">
                <img src="assets/manage user.svg" alt="Manage User Icon" class="w-6 h-6 mr-2">
                <span>SPAMMED USER</span>
            </a>
        </li>
          <li>
              <a routerLink="/ticket-request" class="nav-link">
                  <img src="assets/ticket request.svg" alt="Ticket Request Icon" class="w-6 h-6 mr-2">
                  <span>TICKET REQUESTS</span>
              </a>
          </li>
          <li>
              <a routerLink="/manage-station" class="nav-link">
                  <img src="assets/manage station.svg" alt="Manage Station Icon" class="w-6 h-6 mr-2">
                  <span>MANAGE STATION</span>
              </a>
          </li>
          <li>
              <a routerLink="/station-crime-map" class="nav-link">
                  <img src="assets/crime-map.svg" alt="Crime Map Icon" class="w-6 h-6 mr-2">
                  <span>CRIME MAP</span>
              </a>
          </li>
          </ul>
        </nav>
        <button type="button" class="logout-button mt-auto" (click)="logout()">LOG OUT</button>            
      </aside>
  
      <!-- Main Content -->
      <div class="main-content">
        <!-- Top Statistics -->
        <div class="top-stats grid grid-cols-3 gap-4">
          <div class="stat-item bg-blue-100 rounded-lg p-4 text-center">
            <h2 class="text-4xl font-bold text-primary">{{ totalUsers }}</h2>
            <p class="text-lg font-semibold">No. of users</p>
          </div>
        </div>
  
        <!-- User Table -->
        <div class="table-container mt-8">
          <!-- <div class="table-controls flex justify-between items-center mb-4"> -->
            <form [formGroup]="spammerUserForm" class="filter" (ngSubmit)="onSubmit()">
              <!-- <input type="text" placeholder="Search user" formControlName="search" class="search-bar" > -->
              <input
              type="text" [(ngModel)]="searchQuery" (ngModelChange)="filterUsers()"
                placeholder="Search"
                class="search-input"
              />
            </form>
            <!-- <div class="pagination flex items-center">
              <label for="entries">Display</label>
              <select id="entries" formControlName="entries">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
              </select> -->
              <!-- <span>/{{ totalUsers }}</span> -->
            <!-- </div>
          </div> -->
          <table class="user-table w-full border-collapse">
            <thead>
              <tr>
                <th class="border border-zinc-300 p-2">ID NUM</th>
                <th class="border border-zinc-300 p-2">USER LIST</th>
                <th class="border border-zinc-300 p-2">STATUS</th>
                <th class="border border-zinc-300 p-2">GENDER</th>
                <th class="border border-zinc-300 p-2">ACTION</th>
              </tr>
            </thead>
            <tbody>
                  <tr *ngFor="let user of citizen; let i = index">
                    <td  class="border border-zinc-300 p-2">{{ user.citizen_id }}</td>
                    <td  class="border border-zinc-300 p-2">{{ user.firstname }} {{ user.lastname }}</td>
                    <td  class="border border-zinc-300 p-2">{{ user.civil_status }}</td>
                    <td  class="border border-zinc-300 p-2">{{ user.sex }}</td>
                    <td  class="border border-zinc-300 p-2">
                  <!-- <button (click)="editCitizen(user)" class="action-btn edit">✏️</button> -->
                  <button (click)="reinstateCitizen(+user.citizen_id)" class="action-btn delete">REINSTATE USER</button>
                  <!-- <button (click)="verifyCitizen(user)" class="action-btn reinstate">VERIFY</button> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
