<form [formGroup]="endorseForm">
  <div class="univ-person-data">
    <div class="parent-person-data">
      <h3>Complainant Name:</h3>
      <h3>Contact Number:</h3>
      <h3>Email:</h3>
      <h3>Address:</h3>
    </div>
    <div class="person-data">
      <span>{{ citizenData.firstname }}, {{ citizenData.lastname }}</span>
      <span>{{ accountData.contact_num }}</span>
      <span>{{ accountData.email }}</span>
      <span>
        {{ locationData.block || "" }}
        {{ locationData.street || "" }}
        {{ locationData.barangay || "" }}
        {{ locationData.municipality || "" }}
        {{ locationData.province || "" }}
        {{ locationData.Region || "" }}
      </span>
    </div>
  </div>

  <div class="container">
    <main class="main-content">
      <h1 style="padding-bottom: 30px">
        <span>Report Id: {{ selectedReport.report_id }}</span>
      </h1>
      <section class="report-details">
        <div class="report-header">
          <div class="report-left">
            <div class="form-group">
              <label for="duty-officer">Duty Officer:</label>
              <select id="duty-officer" formControlName="personID">
                <option
                  *ngFor="let police of polices"
                  [value]="police.police_id"
                >
                  {{ police.rank_abbr }}. {{ police.firstname }}
                  {{ police.lastname }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <!-- <label for="chief-police">Rank:</label>
              <select id="chief-police" formControlName="rankID">
                <option *ngFor="let rank of ranks" [value]="rank.rank_id">
                  {{ rank.rank_abbr }} {{ rank.rank_full }}
                </option>
              </select> -->
            </div>
          </div>
          <tr>
            <td>
              <button type="button" class="endorse-btn" (click)="onEndorse()">
                Endorse
              </button>
            </td>
            <td>
              <button type="button" class="dismiss-btn" (click)="onDismiss()">
                Dismiss
              </button>
            </td>
          </tr>
        </div>

        <!-- <div class="action-buttons">
                <button type="button" class="endorse-btn" (click)="onEndorse()">Endorse</button>
                <button type="button" class="dismiss-btn" (click)="onDismiss()">Dismiss</button>
              </div>
               -->
        <div class="table-container">
          <table>
            <!-- <thead>
              <tr>
                <th>Report ID</th>
                <th>Incident Name</th>
                <th>Incident Date</th>
                <th>Reported Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr >
                
                <td>{{ selectedReport.report_id }}</td>
               
                <td>{{ selectedReport.subcategory_name }}</td>
              
                <td>{{ selectedReport.incident_date | date }}</td>
              
                <td>{{ selectedReport.reported_date | date }}</td>
              
              </tr>
            </tbody> -->
            <tr>
              <td style="padding-bottom: 2rem"><h3>Report ID</h3></td>
              <td style="text-align: end; padding-bottom: 2rem">
                <span>{{ selectedReport.report_id }}</span>
              </td>
            </tr>
            <tr>
              <td style="padding-bottom: 2rem"><h3>Incident Name</h3></td>
              <td style="text-align: end; padding-bottom: 2rem">
                <span>{{ selectedReport.subcategory_name }}</span>
              </td>
            </tr>
            <tr>
              <td style="padding-bottom: 2rem"><h3>Category Name</h3></td>
              <td style="text-align: end; padding-bottom: 2rem">
                <span>{{ selectedReport.category_name }}</span>
              </td>
            </tr>
            <tr>
              <td style="padding-bottom: 2rem"><h3>Incident Date</h3></td>
              <td style="text-align: end; padding-bottom: 2rem">
                <span>{{ selectedReport.incident_date }}</span>
              </td>
            </tr>
            <tr>
              <td style="padding-bottom: 2rem"><h3>Narrative</h3></td>
              <td style="text-align: end; padding-bottom: 2rem">
                <span>{{ selectedReport.report_body }}</span>
              </td>
            </tr>
            <tr>
              <td style="padding-bottom: 2rem"><h3>Signature</h3></td>
              <td style="text-align: end; padding-bottom: 2rem">
                <a
                  style="color: blue; text-decoration: underline"
                  (click)="viewSignature(selectedReport.e_signature)"
                  >View Signature</a
                >
              </td>
            </tr>

            <tr>
              <td style="padding-bottom: 2rem"><h3>Evidences:</h3></td>
            </tr>

            <div *ngIf="isLoading">Loading evidences...</div>
            <div *ngIf="errorMessage">{{ errorMessage }}</div>
            <div *ngIf="!isLoading && evidences.length > 0" class="evidence-container" >
              <div *ngFor="let evidence of evidences" class="evidence-item" (click)="openModal(evidence)">
                <!-- <div>
                  <strong>Debugging:</strong>
                  <pre>{{ debugEvidence(evidence) }}</pre>
                </div> -->

                <!-- <div style="padding-bottom: 20px">
                  <strong>Content Type:</strong> {{ evidence.content_type }}
                </div> -->

                <!-- Handling Image files -->
                <div *ngIf="evidence.content_type.startsWith('image/')">
                  <img
                    [src]="
                      'data:' +
                      evidence.content_type +
                      ';base64,' +
                      cleanBase64(evidence.file_contents)
                    "
                    alt="Evidence Image"
                  />
                </div>

                <div *ngIf="evidence.content_type === 'application/pdf'">
                  <embed
                    [src]="
                      'data:' +
                      evidence.content_type +
                      ';base64,' +
                      evidence.file_contents
                    "
                    width="100%"
                    height="600px"
                    type="application/pdf"
                  />
                </div>
                <div *ngIf="evidence.content_type === 'text/plain'">
                  <pre>{{ decodeBase64(evidence.file_contents) }}</pre>
                </div>
                <div
                  *ngIf="
                    evidence.content_type === 'application/msword' ||
                    evidence.content_type ===
                      'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
                  "
                >
                  <span
                    >Document (.docx) cannot be viewed directly in
                    browser.</span
                  >
                  <!-- You could integrate a viewer for DOCX files, like using Google Docs Viewer or a custom viewer -->
                </div>
                <div
                  *ngIf="
                    evidence.content_type === 'application/vnd.ms-excel' ||
                    evidence.content_type ===
                      'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
                  "
                >
                  <span
                    >Spreadsheet (.xlsx) cannot be viewed directly in
                    browser.</span
                  >
                </div>

                <!-- Handling Audio files -->
                <div *ngIf="evidence.content_type.startsWith('audio/')">
                  <audio controls>
                    <source
                      [src]="
                        'data:' +
                        evidence.content_type +
                        ';base64,' +
                        evidence.file_contents
                      "
                      type="{{ evidence.content_type }}"
                    />
                    Your browser does not support the audio element.
                  </audio>
                </div>

                <!-- Handling Video files -->
                <div *ngIf="evidence.content_type.startsWith('video/')">
                  <video width="100%" controls>
                    <source
                      [src]="
                        'data:' +
                        evidence.content_type +
                        ';base64,' +
                        evidence.file_contents
                      "
                      type="{{ evidence.content_type }}"
                    />
                    Your browser does not support the video element.
                  </video>
                </div>

                <!-- If file type doesn't match any specific one above -->
                <div
                  *ngIf="
                    !evidence.content_type.startsWith('image/') &&
                    !evidence.content_type.startsWith('audio/') &&
                    !evidence.content_type.startsWith('video/')
                  "
                >
                  <strong>File:</strong>
                  <span>{{ evidence.content_type }}</span>
                  <a
                    [href]="
                      'data:' +
                      evidence.content_type +
                      ';base64,' +
                      evidence.file_contents
                    "
                    download
                  >
                    Download File
                  </a>
                </div>
              </div>
            </div>
            <div *ngIf="!isLoading && evidences.length === 0">
              No evidences found.
            </div>

            <div *ngIf="isModalOpen" class="modal-overlay" (click)="closeModal()">
              <div class="modal-content" (click)="$event.stopPropagation()">
                <button class="modal-close" (click)="closeModal()">X</button>
                <div *ngIf="selectedEvidence">
                  <div *ngIf="selectedEvidence.content_type.startsWith('image/')">
                    <img
                      [src]="'data:' + selectedEvidence.content_type + ';base64,' + cleanBase64(selectedEvidence.file_contents)"
                      alt="Evidence Image"
                    />
                  </div>
                  <div *ngIf="selectedEvidence.content_type === 'application/pdf'">
                    <embed
                      [src]="'data:' + selectedEvidence.content_type + ';base64,' + selectedEvidence.file_contents"
                      width="100%"
                      height="600px"
                      type="application/pdf"
                    />
                  </div>
                  <div *ngIf="selectedEvidence.content_type.startsWith('audio/')">
                    <audio controls>
                      <source
                        [src]="'data:' + selectedEvidence.content_type + ';base64,' + selectedEvidence.file_contents"
                        type="{{ selectedEvidence.content_type }}"
                      />
                    </audio>
                  </div>
                  <div *ngIf="selectedEvidence.content_type.startsWith('video/')">
                    <video width="100%" controls>
                      <source
                        [src]="'data:' + selectedEvidence.content_type + ';base64,' + selectedEvidence.file_contents"
                        type="{{ selectedEvidence.content_type }}"
                      />
                    </video>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="isSignatureVisible" class="modal">
              <div class="modal-content">
                <span class="close" (click)="closeSignature()">&times;</span>
                <img [src]="currentSignature" alt="E-Signature" />
              </div>
            </div>
          </table>
        </div>

        <div class="submit-blotter">
          <button
            type="button"
            class="send-blotter-btn"
            (click)="onSendBlotter()"
          >
            SEND TICKET BLOTTER
          </button>
        </div>
      </section>
    </main>
  </div>
</form>
