<div class="container">
  <div class="emergency-banner">
    <!-- In case of emergencies, please dial your local emergency services number -->
  </div>
  <div class="min-h-screen bg-zinc-100 flex">
    <aside class="w-64 bg-white shadow-md">
      <div class="p-4 text-center">
        <div class="logo">
          <img src="assets/station10.png" alt="CCPO Logo" />
        </div>

        <div *ngIf="stationDetails; else loadingTemplate">
          <h2 class="text-lg font-semibold">{{ stationDetails?.hq }}</h2>
        </div>

        <ng-template #loadingTemplate>
          <div id="loading">Loading Station Details...</div>
        </ng-template>
        <p class="text-sm text-zinc-600">Cebu City Police Office</p>
      </div>
      <nav class="mt-7">
        <ul class="list-none p-0">
          <li>
            <a
              [routerLink]="['/station-dashboard']"
              routerLinkActive="active"
              class="nav-link"
            >
              <img
                src="assets/dashbold.svg"
                alt="Dashboard Icon"
                class="w-6 h-6 mr-2"
              />
              <span>DASHBOARD</span>
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/station-cases']"
              class="nav-link"
            >
              <img
                src="assets/cases.svg"
                alt="Inbox Icon"
                class="w-6 h-6 mr-2"
              />
              <span>CASES</span>
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/station-case-queue']"
              routerLinkActive="active"
              class="nav-link"
            >
              <img
                src="assets/reports.svg"
                alt="Reports Icon"
                class="w-6 h-6 mr-2"
              />
              <span>REPORTS</span>
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/plot-longitude-and-latitude']"
              [ngClass]="{ active: isReportsActive() }"
              routerLinkActive="active"
              class="nav-link"
            >
              <img
                src="assets/crime-map.svg"
                alt="Crime Map Icon"
                class="w-6 h-6 mr-2"
              />
              <span>CRIME MAP</span>
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/station-list-of-officers']"
              routerLinkActive="active"
              class="nav-link"
            >
              <img
                src="assets/station.svg"
                alt="Station Icon"
                class="w-6 h-6 mr-2"
              />
              <span>STATION</span>
            </a>
          </li>
          <!-- <li>
            <a href="#" class="nav-link">
              <img
                src="assets/support.svg"
                alt="Contact Support Icon"
                class="w-6 h-6 mr-2"
              />
              <span>CONTACT SUPPORT</span>
            </a>
          </li> -->
        </ul>
        <div class="logout">
          <button type="submit" class="button" (click)="logout()">
            LOG OUT
          </button>
        </div>
      </nav>
    </aside>

    <main class="content flex-grow p-6">
      <section class="section-data">
        <div class="plot-container">
          <h3>Plot Longitude and Latitude</h3>
        
          
          <div class="coordinates">
            <p style="padding-right:100px;"><b>Selected Coordinates:</b></p>
            <p class="p-tag">Longitude: {{ longitude }}</p>
            <p class="p-tag">Latitude: {{ latitude }}</p>
          </div>
        
         
          <div id="map" class="map-container"></div>
          <div class="submit-blotter">
            <button
              type="button"
              class="send-blotter-btn"
              (click)="navigateToBlotter()"
            >
              PLOT LONGITUDE AND LATITUDE
            </button>
          </div>
         
        </div>
      </section>
    </main>
  </div>
</div>
