<div class="container">
    <div class="emergency-banner">
      <!-- In case of emergencies, please dial your local emergency services number -->
    </div>
    <div class="min-h-screen bg-zinc-100 flex">
      <aside class="w-64 bg-white shadow-md">
        <div class="p-4 text-center">
          <img src="assets/station10.png" alt="CCPO Logo" class="mx-auto mb-4 logo"> 
          <div *ngIf="stationDetails; else loading">
            <h2 class="text-lg font-semibold">{{ stationDetails.hq }}</h2>
          </div>
          <ng-template #loading>
            <p>Loading station details...</p>
          </ng-template>
          <p class="text-sm text-zinc-600">Cebu City Police Office</p>
        </div>
        <nav class="mt-7"> 
           <ul class="list-none p-0">
            <li>
              <a [routerLink]="['/station-dashboard']" routerLinkActive="active" class="nav-link">
                <img src="assets/dashbold.svg" alt="Dashboard Icon" class="w-6 h-6 mr-2">
                <span>DASHBOARD</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/station-cases']" routerLinkActive="active" class="nav-link">
                <img
                  src="assets/cases.svg"
                  alt="reports Icon"
                  class="w-6 h-6 mr-2"
                />
                <span>CASES</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/station-case-queue']" routerLinkActive="active" class="nav-link">
                <img
                  src="assets/reports.svg"
                  alt="Inbox Icon"
                  class="w-6 h-6 mr-2"
                />
                <span>REPORTS</span>
              </a>
            </li>   
            <li>
              <a [routerLink]="['/station-crime-map']" routerLinkActive="active" class="nav-link">
                <img src="assets/crime-map.svg" alt="Crime Map Icon" class="w-6 h-6 mr-2">
                <span>CRIME MAP</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/station-list-officers']" routerLinkActive="active" class="nav-link">
                <img src="assets/station.svg" alt="Station Icon" class="w-6 h-6 mr-2">
                <span>STATION</span>
              </a>
            </li>
            <li>
              <a href="#" class="nav-link">
                <img src="assets/support.svg" alt="Contact Support Icon" class="w-6 h-6 mr-2">
                <span>CONTACT SUPPORT</span>
              </a>
            </li>
          </ul>
          <div class="logout">
            <button type="submit" class="button" (click)="logout()">
              LOG OUT
            </button>
          </div>
        </nav>
      </aside>

       <!-- <div class="main-content">
        <div class="header">
            <div class="header-title">
                <h1>NEW crimeS</h1>
            </div>
            <div class="header-info">
                <p>Date: May 24, 2024</p>
                <p>Time: 0100</p>
            </div>
        </div> 
      <main class="main-content">
        <header class="header"></header>
    
        <section class="new-crimes">
            <form [formGroup]="crimesForm" (ngSubmit)="onSubmit()"> 
                <table class="crimes-table">
                    <thead>
                        <tr>
                            <th>crime ID</th>
                            <th>Incident Type</th>
                            <th>Complainant</th>
                            <th>Date Received</th>
                        </tr>
                    </thead>
                     <tbody>
                        <tr *ngFor="let crime of crimes"> 
                          
                             <td><a href="/crime-endorse">{{ crime.crime_id}}</a></td>
                            <td>{{ crime.subcategory_name }}</td>
                            <td>{{ crime.citizen_id }}</td>
                            <td>{{ crime.crimeed_date }}</td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </section>
    </main>
    </div>  
     
     -->

     <div class="main-content">
      <div class="header">
          <div class="header-title ">
              <h1>LIST OF CASES</h1>
              
          </div>
          <div class="header-info">
            <p id="current-date"></p>
            <p id="current-time"></p>
            <div class="current">
              <p><strong>Date:</strong> {{ currentDate }}</p>
              <p><strong>Time:</strong> {{ currentTime }}</p>
            </div>  
          </div>
      </div>
      <main class="main-content">
          <header class="header"></header>
          <div class="search-container">
            <input
            type="text" [(ngModel)]="searchQuery" (ngModelChange)="filterCases()"
              placeholder="Search"
              class="search-input"
            />

            <!-- <select [(ngModel)]="selectedStatus" (change)="filterCases()">
              <option value="">All Cases</option>
              <option value="Ongoing">Ongoing Cases</option>
              <option value="Solved">Solved Cases</option>
            </select> -->

          </div>
          <section class="new-reports">
              <form>
                  <table class="reports-table">
                      <thead>
                          <tr>
                              <th>Crime ID</th>
                              <th>Date Committed</th>
                              <th>Cite Number</th>
                              <th>Incident Name</th>
                              <th>Status</th>
                          </tr>
                      </thead>
                      <!-- <tbody>
                          <tr *ngFor="let case of cases  | paginate: { 
                            id: 'cases',
                            itemsPerPage: pageSize,
                            currentPage: currentPage,
                            totalItems: totalCases 
                        }">
                              <td><a >{{ case.crime_id }}</a></td>
                              <td>{{ case.date_committed }}</td>
                              <td>{{ case.cite_number }}</td>
                              <td>{{ case.incident_type }}</td>
                              <td>{{ case.status }}</td>
                          </tr>
                      </tbody> -->
                      <tbody>
                      
                        <ng-container *ngIf="searchQuery; else allcrimes">
                          <ng-container *ngIf="filteredCases.length > 0; else noResults">
                            <tr
                              *ngFor="let crime of (searchQuery ? filteredCases : cases) | paginate: { 
                                id: 'cases', 
                                itemsPerPage: searchQuery ? filteredCases.length : pageSize, 
                                currentPage: currentPage, 
                                totalItems: searchQuery ? filteredCases.length : totalCases 
                              }"
                              [id]="'crime-' + crime.crime_id"
                            >
                              <td>
                                <a>
                                  <span
                                    [class.highlight]="isFieldMatched(crime.crime_id, searchQuery)"
                                    [innerHTML]="highlight(crime.crime_id)"
                                  ></span>
                                </a>
                              </td>
                              <td>
                                <span
                                  [class.highlight]="isFieldMatched(crime.date_committed, searchQuery)"
                                  [innerHTML]="highlight(crime.date_committed)"
                                ></span>
                              </td>
                              <td>
                                <span
                                  [class.highlight]="isFieldMatched(crime.cite_number, searchQuery)"
                                  [innerHTML]="highlight(crime.cite_number)"
                                ></span>
                              </td>
                              <td>
                                <span
                                  [class.highlight]="isFieldMatched(crime.incident_type, searchQuery)"
                                  [innerHTML]="highlight(crime.incident_type)"
                                ></span>
                              </td>
                             
                            </tr>
                          </ng-container>
                      
                      
                          <ng-template #noResults>
                            <tr>
                              <td colspan="4" class="no-results">
                                No results found for "{{ searchQuery }}"
                              </td>
                            </tr>
                          </ng-template>
                        </ng-container>
                      
                      
                        <ng-template #allcrimes>
                          <tr
                            *ngFor="let crime of cases | paginate: { 
                              id: 'cases', 
                              itemsPerPage: pageSize, 
                              currentPage: currentPage, 
                              totalItems: totalCases 
                            }"
                            (click)="editCase(crime.crime_id)"
                          >
                            <td>
                           
                                {{ crime.crime_id }}
                           
                            </td>
                            <td>
                              {{ crime.datetime_committed ? (crime.datetime_committed | date) : (crime.date_committed ? (crime.date_committed | date) : 'N/A') }}
                            </td>
                            
                            <td>{{ crime.cite_number }}</td>
                            <td>{{ crime.incident_type }}</td>
                            <td>{{ crime.status}}</td>
                          </tr>
                        </ng-template>
                      </tbody>
                  </table>

                  <pagination-controls 
                  id="cases"
                  (pageChange)="currentPage = $event">
                </pagination-controls>
              </form>
          </section>
      </main>
  </div>
  